---
layout: MarketplaceUXSpec
multipage: false
---
<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
		<ul  class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#appLandingPage">App Landing Page Element</a></li>
			<li><a href="#customFeaturedApps">Custom Featured Apps</a></li>
			<li><a href="#collectionsArticles">Collections & Articles</a></li>
			<li><a href="#editorialBrands">Editorial Brands</a></li>
			<li><a href="#collectionConstruction">Collection Construction</a></li>
			<li><a href="#feedDetail">Feed Detail Views</a></li>
			<li><a href="#expandedBlocks">Expanded Blocks</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		<h1>Blocks</h1>
		<p class="longText">
			This is the blocks page. Due to the enormous amount on content, it will grow over time.
		</p>
		<div class="hiddenAnchor" id="appLandingPage"></div>
		<h2>App Landing Page Element</h2>
		<br>
		<img src="img/appLandingPageBlocks.png"/><br/>
		<br>
		<p class="longText">
			The individual app block exists on all Collection and Article landing pages (except for Mega Collection landing page). The block with a subhead exists only on the Mega Collection landing page.
		</p>
		<br>
		<div class="hiddenAnchor" id="customFeaturedApps"></div>
		<h2>Custom Featured Apps</h2>
		<br>
		<img src="img/customFeatured1.png"/><br/>
		<br>
		<p class="longText">
			Promoted with app icon and header graphic (no description), and app promoted with description (description mandatory).
		</p>
		<br>
		<img src="img/customFeatured2.png"/><br/>
		<br>
		<p class="longText">
			Promoted with quote (quote mandatory), promoted with screenshot/video, promoted with description and screenshot/video.
		</p>
		<br>
		<div class="hiddenAnchor" id="collectionsArticles"></div>
		<h2>Collections & Articles</h2>
		<br>
		<img src="img/collectionNoDescription.png"/><br/>
		<br>
		<p class="longText">
			Collection, no description: Standard and Mega collection (has header graphic), showcase collection (display 3 app icons), operator Shelf (has thinner header graphic).
		</p>
		<br>
		<img src="img/collectionDescription.png"/><br/>
		<br>
		<p class="longText">
			Collection, with description: Standard and Mega collection (has header graphic), showcase collection (display 3 app icons).
		</p>
		<br>
		<img src="img/articleNoDescription.png"/><br/>
		<br>
		<p class="longText">
			Article, no description: 3 apps, 6 apps, more than 6 apps.
		</p>
		<br>
		<img src="img/articleDescription.png"/><br/>
		<br>
		<p class="longText">
			Article, with description: 3 apps, 6 apps, more than 6 apps.
		</p>
		<br>
		<div class="hiddenAnchor" id="editorialBrands"></div>
		<h2>Editorial Brands</h2>
		<br>
		<img src="img/editorialTableNoDescription.png"/><br/>
		<br>
		<p class="longText">
			Editorial, table with no description: 3 apps, 6 apps, 3 apps, 6 apps, more than 6 apps.
		</p>
		<br>
		<img src="img/editorialTableDescription.png"/><br/>
		<br>
		<p class="longText">
			Editorial, table with description: 3 apps, 6 apps, 3 apps, 6 apps, more than 6 apps.
		</p>
		<br>
		<img src="img/editorialListNoDescription.png"/><br/>
		<br>
		<p class="longText">
			List layout, no description.
		</p>
		<br>
		<img src="img/editorialListDescription.png"/><br/>
		<br>
		<p class="longText">
			List layout, with description.
		</p>
		<br>
		<div class="hiddenAnchor" id="collectionConstruction"></div>
		<h2>Collection Construction</h2>
		<br>
		<img src="img/featuredAppBlock.png"/><br/>
		<br>
		<p class="longText">
			How to build the one app featured block.
		</p>
		<br>
		<img src="img/featuredThreeAppBlock.png"/><br/>
		<br>
		<p class="longText">
			How to build the three app featured block.
		</p>
		<br>
		<img src="img/megaCollectionBlock.png"/><br/>
		<br>
		<p class="longText">
			How to build the mega collection featured block.
		</p>
		<br>
		<img src="img/operatorShelf.png"/><br/>
		<br>
		<p class="longText">
			How to build the operator shelf block.
		</p>
		<br>
		<div class="hiddenAnchor" id="feedDetail"></div>
		<h2>Feed Detail Views</h2>
		<br>
		<img src="img/detailView.png"/><br/>
		<br>
		<p class="longText">
			Feed view, operator detail view, and mega collection detail view.
		</p>
		<br>
		<div class="hiddenAnchor" id="expandedBlocks"></div>
		<h2>Expanded Blocks</h2>
		<p class="longText">
			Collection blocks can expand to suit the platform they are being viewed on. They don't have to, but the option is there to give a more dynamic and varied view of the feed.
		</p>
		<img src="img/expandedCollectionTableNoDescription.png"/>
		<p class="longText">
			Collection/Editorial Brand (table), no description
		</p>
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html.
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
