---
layout: MarketplaceUXSpec
multipage: false
---
<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
		<ul  class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#actionPrimary">Action Primary</a></li>
			<li><a href="#actionSecondary">Action Secondary</a></li>
			<li><a href="#greyPrimary">Greyscale Primary</a></li>
			<li><a href="#greySecondary">Greyscale Secondary</a></li>
			<li><a href="#userColPrimary">User Collections Primary</a></li>
			<li><a href="#userColSecondary">User Collections Secondary</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		<h1>Palettes</h1>
		<p class="longText">
			There are three palettes: Action, greyscale, and user collection. Each of those have two secondary palettes: light (for highlights, hover) and dark (for shadows, tapped/down states).
		</p>
		<div class="hiddenAnchor" id="actionPrimary"></div>
		<h2>Action Primary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#6ed2ff;"></div>
				<p><strong>lt. blue</strong><br>rgb: 110, 210, 255<br>hex #6ed2ff</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#4cb1ff;"></div>
				<p><strong>blue</strong><br>rgb 76, 177, 255<br>hex #4cb1ff</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#64be3c;"></div>
				<p><strong>green</strong><br>rgb 100, 190, 60<br>hex #64be3c</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#ffdc32;"></div>
				<p><strong>yellow</strong><br>rgb 255, 220, 50<br>hex #ffdc32</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#f54b3c;"></div>
				<p><strong>red</strong><br>rgb 245, 75, 60<br>hex #f54b3c</p>
			</div>
		<p class="longText">
			Action is used for buttons, alerts, etc. Light blue is for universal actions: Sign in/sign up, log out, etc. Blue is for positive or benign interactions: Purchase, contact, etc. Green is for success, red means failure or error. Yellow isn't currently used, but could be brought in for queueing or other "wait" actions.
		</p>

		<div class="hiddenAnchor" id="actionSecondary"></div>
		<h2>Action Secondary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#67e0fd;"></div>
				<p>rgb 103, 224, 253<br>hex #67e0fd</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#42cafe;"></div>
				<p>rgb 66, 202, 254<br>hex #42cafe</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#66d071;"></div>
				<p>rgb 102, 208, 113<br>hex #66d071</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#ffe26e;"></div>
				<p>rgb 255, 226, 110<br>hex #ffe26e</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#ff6c70;"></div>
				<p>rgb 255, 108, 112<br>hex #ff6c70</p>
			</div>

			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#559dbd;"></div>
				<p>rgb 85, 157, 189<br>hex #559dbd</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#3d86bd;"></div>
				<p>rgb 61, 134, 189<br>hex #3d86bd</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#4d8d32;"></div>
				<p>rgb 77, 141, 50<br>hex #4d8d32</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#bea434;"></div>
				<p>rgb 190, 164, 52<br>hex #bea434</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#b63932;"></div>
				<p>rgb 182, 57, 50<br>hex #b63932</p>
			</div>
		<p class="longText">
			Action is used for buttons, alerts, etc. Light blue is for universal actions: Sign in/sign up, log out, etc. Blue is for positive or benign interactions: Purchase, contact, etc. Green is for success, red means failure or error. Yellow isn't currently used, but could be brought in for queueing or other "wait" actions.
		</p>

		<div class="hiddenAnchor" id="greyPrimary"></div>
		<h2>Greyscale Primary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#1a1a1a;"></div>
				<p><strong>almost black</strong><br>rgb 26, 26, 26<br>hex #1a1a1a</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#797979;"></div>
				<p><strong>dark grey</strong><br>rgb 121, 121, 121<br>hex #797979</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#cbcbcb;"></div>
				<p><strong>grey</strong><br>rgb 203, 203, 203<br>hex #cbcbcb</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#f1f1f1;"></div>
				<p><strong>light grey</strong><br>rgb 241, 241, 241<br>hex #f1f1f1</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#ffffff;"></div>
				<p><strong>white</strong><br>rgb 255, 255, 255<br>hex #ffffff</p>
			</div>
		<p class="longText">
			Greyscale is our supporting palette.
		</p>

		<div class="hiddenAnchor" id="greySecondary"></div>
		<h2>Greyscale Secondary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#535353;"></div>
				<p>rgb 83, 83, 83<br>hex #535353</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#9b9b9b;"></div>
				<p>rgb 155, 155, 155<br>hex #9b9b9b</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#d8d8d8;"></div>
				<p>rgb 216, 216, 216<br>hex #d8d8d8</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#f5f5f5;"></div>
				<p>rgb 245, 245, 245<br>hex #f5f5f5</p>
			</div>
		<br>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#131313;"></div>
				<p>rgb 19, 19, 19<br>hex #131313</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#5b5b5b;"></div>
				<p>rgb 91, 91, 91<br>hex #5b5b5b</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#989898;"></div>
				<p>rgb 152, 152, 152<br>hex #989898</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#b5b5b5;"></div>
				<p>rgb 181, 181, 181<br>hex #b5b5b5</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#bfbfbf;"></div>
				<p>rgb 191, 191, 191<br>hex #bfbfbf</p>
			</div>
		<p class="longText">
			Greyscale is our supporting palette.
		</p>

		<div class="hiddenAnchor" id="userColPrimary"></div>
		<h2>User Collections Primary</h2>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#ce001c;"></div>
				<p><strong>ruby</strong><br>rgb 206, 0, 28<br>hex #ce001c</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#f78813;"></div>
				<p><strong>amber</strong><br>rgb 246, 136, 19<br>hex #f78813</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#00953f;"></div>
				<p><strong>emerald</strong><br>rgb 0, 149, 63<br>hex #00953f</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#0099d0;"></div>
				<p><strong>topaz</strong><br>rgb 0, 153, 208<br>hex #0099d0</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#1e1e9c;"></div>
				<p><strong>sapphire</strong><br>rgb 30, 30, 156<br>hex #1e1e9c</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#5a197e;"></div>
				<p><strong>amethyst</strong><br>rgb 90, 25, 126<br>hex #5a197e</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:100px; height:200px; background-color:#a20d55;"></div>
				<p><strong>garnet</strong><br>rgb 162, 13, 85<br>hex #a20d55</p>
			</div>
		<p class="longText">
			The user collection palette is for, you guessed it, collections. But instead of light/dark palettes, the supporting tones are opacity levels: 80%, 60%, 40%. This is to achieve the layered monotone effect used in user collections.
		</p>

		<div class="hiddenAnchor" id="userColSecondary"></div>
		<h2>User Collections Secondary</h2>
			<div style="opacity: 0.8;">
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#ce001c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#f78813;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#00953f;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#0099d0;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#1e1e9c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#5a197e;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#a20d55;"></div>
				</div>
			</div>
			<div><p>80%</p></div>

			<div style="opacity: 0.6;">
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#ce001c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#f78813;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#00953f;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#0099d0;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#1e1e9c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#5a197e;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#a20d55;"></div>
				</div>
			</div>

			<div style="opacity: 0.4;">
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#ce001c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#f78813;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#00953f;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#0099d0;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#1e1e9c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#5a197e;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#a20d55;"></div>
				</div>
			</div>

			<div style="opacity: 0.2;">
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#ce001c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#f78813;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#00953f;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#0099d0;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#1e1e9c;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#5a197e;"></div>
				</div>
				<div style="display:inline-block;">
					<div style="width:100px; height:100px; background-color:#a20d55;"></div>
				</div>
			</div>

	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html.
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
