---
layout: MarketplaceUXSpec
multipage: false
---
<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
		<ul  class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#actionPrimary">Action Primary</a></li>
			<li><a href="#actionSecondary">Action Secondary</a></li>
			<li><a href="#greyPrimary">Greyscale Primary</a></li>
			<li><a href="#greySecondary">Greyscale Secondary</a></li>
			<li><a href="#userColPrimary">User Collections Primary</a></li>
			<li><a href="#userColSecondary">User Collections Secondary</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		<h1>Palettes</h1>
		<p class="longText">
			There are three palettes: Action, greyscale, and user collection. Each of those have two secondary palettes: light (for highlights, hover) and dark (for shadows, tapped/down states).
		</p>
		<div class="hiddenAnchor" id="actionPrimary"></div>
		<h2>Action Primary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#6ed2ff;"></div>
				<p>lt. blue<br>rgb: 110, 210, 255<br>hex #6ed2ff</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#4cb1ff;"></div>
				<p>blue<br>rgb 76, 177, 255<br>hex #4cb1ff</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#64be3c;"></div>
				<p>green<br>rgb 100, 190, 60<br>hex #64be3c</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#ffdc32;"></div>
				<p>yellow<br>rgb 255, 220, 50<br>hex #ffdc32</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#f54b3c;"></div>
				<p>red<br>rgb 245, 75, 60<br>hex #f54b3c</p>
			</div>

		<p class="longText">
			Action is used for buttons, alerts, etc. Light blue is for universal actions: Sign in/sign up, log out, etc. Blue is for positive or benign interactions: Purchase, contact, etc. Green is for success, red means failure or error. Yellow isn't currently used, but could be brought in for queueing or other "wait" actions.
		</p>
		<div class="hiddenAnchor" id="actionSecondary"></div>
		<h2>Action Secondary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#67e0fd;"></div>
				<p>rgb 103, 224, 253<br>hex #67e0fd</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#42cafe;"></div>
				<p>rgb 66, 202, 254<br>hex #42cafe</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#66d071;"></div>
				<p>rgb 102, 208, 113<br>hex #66d071</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#ffe26e;"></div>
				<p>rgb 255, 226, 110<br>hex #ffe26e</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#ff6c70;"></div>
				<p>rgb 255, 108, 112<br>hex #ff6c70</p>
			</div>

			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#559dbd;"></div>
				<p>rgb 85, 157, 189<br>hex #559dbd</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#3d86bd;"></div>
				<p>rgb 61, 134, 189<br>hex #3d86bd</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#4d8d32;"></div>
				<p>rgb 77, 141, 50<br>hex #4d8d32</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#bea434;"></div>
				<p>rgb 190, 164, 52<br>hex #bea434</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:100px; background-color:#b63932;"></div>
				<p>rgb 182, 57, 50<br>hex #b63932</p>
			</div>
		<p class="longText">
			Action is used for buttons, alerts, etc. Light blue is for universal actions: Sign in/sign up, log out, etc. Blue is for positive or benign interactions: Purchase, contact, etc. Green is for success, red means failure or error. Yellow isn't currently used, but could be brought in for queueing or other "wait" actions.
		</p>

		<div class="hiddenAnchor" id="greyPrimary"></div>
		<h2>Greyscale Primary</h2>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#1a1a1a;"></div>
				<p>almost black<br>rgb 26, 26, 26<br>hex #1a1a1a</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#797979;"></div>
				<p>dark grey<br>rgb 121, 121, 121<br>hex #797979</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#cbcbcb;"></div>
				<p>grey<br>rgb 203, 203, 203<br>hex #cbcbcb</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#f1f1f1;"></div>
				<p>light grey<br>rgb 241, 241, 241<br>hex #f1f1f1</p>
			</div>
			<div style="display:inline-block;">
				<div style="width:125px; height:200px; background-color:#ffffff;"></div>
				<p>white<br>rgb 255, 255, 255<br>hex #ffffff</p>
			</div>



		<p class="longText">
			Greyscale is our supporting palette.
		</p>
		<div class="hiddenAnchor" id="greySecondary"></div>
		<h2>Greyscale Secondary</h2>
		<img src="img/greySecondary.png">
		<p class="longText">
			Greyscale is our supporting palette.
		</p>
		<div class="hiddenAnchor" id="userColPrimary"></div>
		<h2>User Collections Primary</h2>
		<img src="img/userColPrimary.png">
		<p class="longText">
			The user collection palette is for, you guessed it, collections. But instead of light/dark palettes, the supporting tones are opacity levels: 80%, 60%, 40%. This is to achieve the layered monotone effect used in user collections.
		</p>
		<div class="hiddenAnchor" id="userColSecondary"></div>
		<h2>User Collections Secondary</h2>
		<img src="img/userColSecondary.png">
		<p class="longText">
			The user collection palette is for, you guessed it, collections. But instead of light/dark palettes, the supporting tones are opacity levels: 80%, 60%, 40%. This is to achieve the layered monotone effect used in user collections.
		</p>
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html.
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
