---
layout: MarketplaceUXSpec
multipage: false
---
<div class="container">
	<div class="col-sm-3 col-md-3 col-lg-3">
		<ul  class="secondaryMenu" data-spy="affix" data-offset-top="70" data-offset-bottom="200">
			<li><a href="#actionPrimary">Action Primary</a></li>
			<li><a href="#actionSecondary">Action Secondary</a></li>
			<li><a href="#greyPrimary">Greyscale Primary</a></li>
			<li><a href="#greySecondary">Greyscale Secondary</a></li>
			<li><a href="#userColPrimary">User Collections Primary</a></li>
			<li><a href="#userColSecondary">User Collections Secondary</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-8">
		<h1>Palettes</h1>
		<p class="longText">
			There are three palettes: Action, greyscale, and user collection. Each of those have two secondary palettes: light (for highlights, hover) and dark (for shadows, tapped/down states).
		</p>
		<div class="hiddenAnchor" id="actionPrimary"></div>
		<h2>Action Primary</h2>

		<div style="width:125px; height:200px; background-color:#6ed2ff; display:inline-block;"></div>
		<div style="width:125px; height:200px; background-color:#4cb1ff; display:inline-block;"></div>
		<div style="width:125px; height:200px; background-color:#64be3c; display:inline-block;"></div>
		<div style="width:125px; height:200px; background-color:#ffdc32; display:inline-block;"></div>
		<div style="width:125px; height:200px; background-color:#f54b3c; display:inline-block;"></div>

		<img src="img/actionPrimary.png"/><br/>
		<p class="longText">
			Action is used for buttons, alerts, etc. Light blue is for universal actions: Sign in/sign up, log out, etc. Blue is for positive or benign interactions: Purchase, contact, etc. Green is for success, red means failure or error. Yellow isn't currently used, but could be brought in for queueing or other "wait" actions.
		</p>
		<div class="hiddenAnchor" id="actionSecondary"></div>
		<h2>Action Secondary</h2>
		<img src="img/actionSecondary.png">
		<p class="longText">
			Action is used for buttons, alerts, etc. Light blue is for universal actions: Sign in/sign up, log out, etc. Blue is for positive or benign interactions: Purchase, contact, etc. Green is for success, red means failure or error. Yellow isn't currently used, but could be brought in for queueing or other "wait" actions.
		</p>
		<div class="hiddenAnchor" id="greyPrimary"></div>
		<h2>Greyscale Primary</h2>
		<img src="img/greyPrimary.png">
		<p class="longText">
			Greyscale is our supporting palette.
		</p>
		<div class="hiddenAnchor" id="greySecondary"></div>
		<h2>Greyscale Secondary</h2>
		<img src="img/greySecondary.png">
		<p class="longText">
			Greyscale is our supporting palette.
		</p>
		<div class="hiddenAnchor" id="userColPrimary"></div>
		<h2>User Collections Primary</h2>
		<img src="img/userColPrimary.png">
		<p class="longText">
			The user collection palette is for, you guessed it, collections. But instead of light/dark palettes, the supporting tones are opacity levels: 80%, 60%, 40%. This is to achieve the layered monotone effect used in user collections.
		</p>
		<div class="hiddenAnchor" id="userColSecondary"></div>
		<h2>User Collections Secondary</h2>
		<img src="img/userColSecondary.png">
		<p class="longText">
			The user collection palette is for, you guessed it, collections. But instead of light/dark palettes, the supporting tones are opacity levels: 80%, 60%, 40%. This is to achieve the layered monotone effect used in user collections.
		</p>
	</div>
	<!-- Pagination. If you have more than one page, set the multipage variable in the Frontmatter to true. Editing the pagination code happens in /_includes/homePagination.html.
		NOTE: This is currently broken in the Jekyll ver of this template.
		-->
		{% if page.multipage %}
			{% include homePagination.html %}
		{% endif %}
