<header>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#marketplaceUXSpecCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand marketplaceLogo" href="https://wiki.mozilla.org/Marketplace/Marketplace_UX">&nbsp;</a>
			</div>

			<div class="collapse navbar-collapse" id="marketplaceUXSpecCollapse">

				<ul class="nav navbar-nav">

					<li><a href="index.html">Marketplace Design Guide</a></li>

					<li><a href="https://github.com/pwalm/marketplace-style-guides/issues">Open Issues</a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Components<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="grid.html">The Grid</a></li>
							<li><a href="palette.html">Palettes</a></li>
							<li><a href="type.html">Typography</a></li >
							<li><a href="buttons.html">Buttons & Controls</a></li >
							<li><a href="forms.html">Forms</a></li>
							<li><a href="navigation.html">Navigation</a></li>
							<li><a href="tables.html">Tables</a></li>
							<li><a href="icons.html">Icons & Graphics</a></li>
							<li><a href="images.html">Images & Video</a></li>
							<li><a href="blocks.html">Collection Blocks</a></li>
						</ul>
					</li>
						
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>

						<ul class="dropdown-menu">
						
						  <li><a href="navigation.html">Navigation</a></li>
							<li class="menuHeading"></li>
							
							<li><a href="search.html">Search Interface</a></li>
							<li class="menuHeading"></li>

							<li><a href="home.html">Home – The Feed</a></li>
							<li class="menuHeading"></li>

							<li><a href="new.html">New</a></li>
							<li class="menuHeading"></li>

							<li><a href="popular.html">Popular</a></li>
							<li class="menuHeading"></li>

							<li><a href="categories.html">Categories</a></li>
							<li class="menuHeading"></li>

							<li><a href="http://mhanratty.github.io/marketplaceux-usercollections/projectSpecsCommunity.html">Community <img src="img/external-link.png"></a></li>
							
							<li class="menuHeading"><em>My Account</em></li>
							<li><a href="my-account-profile.html">Profile</a></li>
							<li><a href="http://mhanratty.github.io/marketplaceux-usercollections/projectSpecsCollections.html">Apps & Collections <img src="img/external-link.png"></a></li>
							<li><a href="my-account-feedback.html">Feedback</a></li>
							
							<li class="menuHeading"><em>App Details</em></li>
							<li><a href="app-details-page.html">Page</a></li>
							<li><a href="app-details-review-write.html">Write a Review</a></li>
							<li><a href="app-details-review-view.html">View All Reviews</a></li>
							<li><a href="app-details-privacy.html">Privacy Policy</a></li>
							<li><a href="app-details-issue.html">Report App Issue</a></li>
							<li><a href="app-details-abuse.html">Report Abuse</span></a></li>
							
							<li class="menuHeading"><em>Search Results</em></li>
							<li><a href="search-list-layout.html">Populated, List Layout</a></li>
							<li><a href="search-gallery-layout.html">Populated, Gallery Layout</a></li>
							<li><a href="search-empty.html">Empty</a></li>

						</ul>

					</li>

        </ul>

			</div>

		</div>
	</nav>
</header>
