<header>
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#marketplaceUXSpecCollapse">
	        					<span class="sr-only">Toggle navigation</span>
	        					<span class="icon-bar"></span>
	        					<span class="icon-bar"></span>
	        					<span class="icon-bar"></span>
	      					</button>
							<a class="navbar-brand marketplaceLogo" href="https://wiki.mozilla.org/Marketplace/Marketplace_UX"><a href="">&nbsp;</a>
						</div>
						<div class="collapse navbar-collapse" id="marketplaceUXSpecCollapse">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Marketplace Style Guide</a></li>

								<li><a href="https://github.com/pwalm/marketplace-style-guides/issues">Open Issues</a><li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Table of Contents <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="templateHome.html">The Grid</a></li>
										<li><a href="templateLongTextOneCol.html">Palettes</a></li>
										<li><a href="templateLongTextTwoCol.html">Typography</a></li >
										<li><a href="templateLongTextOneColOneImg.html">Buttons & Controls</a></li >
										<li><a href="template1Up.html">Input Fields</a></li>
										<li><a href="template1Up2col.html">Navigation</a></li>
										<li><a href="template2Up.html">Tables</a></li>
										<li><a href="template3Up.html">Icons & Graphics</a></li>
										<li><a href="template4Up.html">Images & Video</a></li>
										<li><a href="template4Up.html">Collection Blocks</a></li>
									</ul>
									</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
